@charset "ISO-8859-1";
:root {
	--font-size: 1.25rem;
	--main-color: #8C1818;	
}

body {
	display: flex;
	justify-content: center;
	background: url(./images/background.jpg);
}

.modal-container {
	display: flex;
	border-radius: 15px;
	border: none;
	overflow: hidden;
	width: 70%;
	background: white;
	margin-top: 150px;
	margin-bottom: 2rem;
}

.img-container {
	max-width: 700px;
	overflow: hidden;
}

.left-cover {
	height: 100%;
}

.form-container {
	padding: 5rem;
}

.title {
	color: var(--main-color);
}

.btn-submit {
	margin-top: 2rem;
	width: 100%;
}

.result-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

/* Navigation - Header */

nav {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	z-index: 1;
}

nav > * {
	font-size: var(--font-size);
}

.logo-container {
	width: 150px;
	height: 150px;
	clip-path: circle(50% at 50% 50%);
}

.logo-container > img {
	width: 100%;
	height: auto;
}

.menu-container {
	display: flex;
	width: 60%;
}

.menu-container > li {
	list-style-type: none;
	margin-right: 7rem;
}

.menu-container > li > a {
	text-decoration: none;
	color: unset;
}

.menu-container > li > a:hover {
	color: var(--main-color);
}

.button-container, .menu-container, .login-info-container {
	margin-top: 2rem;
}

.button-container {
	width: 20%;
}

.btn {
	background-color: var(--main-color);
	color: white;
	padding: .5rem 1.5rem;
	font-size: var(--font-size);
}

.login-btn, .welcome-mes {
	margin-right: 2rem;
}

/* Login Page */
.modal-login {
	max-height: 600px;
}