@charset "ISO-8859-1";
:root {
	--font-size: 1.25rem;
	--main-color: #8C1818;	
	--main-color-hover: #B74239;
}

body {
	background: url(./images/background.jpg);
}

.modal-container {
	display: flex;
	border-radius: 15px;
	border: none;
	overflow: hidden;
	width: 70%;
	background: white;
	margin-top: 150px;
	margin-bottom: 2rem;
}

.img-container {
	max-width: 700px;
	overflow: hidden;
}

.left-cover {
	height: 100%;
}

.form-container {
	padding: 5rem;
}

.title {
	color: var(--main-color);
}

.btn-submit {
	margin-top: 2rem;
	width: 100%;
}

.result-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}


/* Navigation - Header */

header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

header > * {
	font-size: var(--font-size);
}

.toolbar {
	background-color: #464744;
	padding-left: 2rem;
}


.btn {
	color: white;
	font-size: var(--font-size);
}

.btn:hover {
	color: var(--main-color);
}

.login-btn, .welcome-mes {
	margin-right: 2rem;
}

.row-container {
	display: flex;
}

.logo-container {
	width: 150px;
	height: 150px;
	clip-path: circle(50% at 50% 50%);
}

.logo-container > img {
	width: 100%;
	height: auto;
}

.menu-container {
	display: flex;
	margin-left: auto;
	margin-top: 2rem;
}

.menu-container > a {
	margin-right: 7rem;
	text-decoration: none;
	color: unset;
}

.menu-container > a:hover {
	color: var(--main-color);
}


/* Login Page */
.modal-login {
	max-height: 600px;
}

/* Product List Item */

.homepage-content {
	margin-top: 20px;	
}

.cars-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	padding: 10px;
	row-gap: 30px;
}

.card-container {
    border-radius: 15px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    width: 250px;
    background-color: white;
    border: none;
}

.img-container {
    position: relative;
    top: -20px;
    border-radius: 15px;
    overflow: hidden;
    border: none;
    width: 200px;
    margin: 0 auto;
    box-shadow: 0px 4px 2px -2px gray;
}

img {
	width: 100%;
}

.description {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;
}

.text-container {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

p {
    margin: unset;
}

.product-price {
    font-weight: bold;
}

.order-btn {
    border-radius: 15px;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.order-btn:hover {
    background-color: var(--main-color-hover);
}